<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Internal server error</title>
  <meta name="author" content="Jesse Boyer">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'third-party/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/codezeus.css' %}">
</head>
<body>

  <h1>Internal server error</h1>

  <h2>Sorry, there seems to be an error. Please try again soon.</h2>

</body>
</html>
