{% load static wagtailuserbar %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
  {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
  {% endblock %}
  {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
      {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
  {% endblock %}
  </title>

  <meta name="author" content="Jesse Boyer">
  <meta name="description" content="Lightning bolts of code from the heavens!">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'third-party/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/codezeus.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% wagtailuserbar %}

  {% block content %}{% endblock %}

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'third-party/jquery/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'third-party/bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'third-party/bootstrap/js/vue.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/codezeus.js' %}"></script>

  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}

</body>
</html>
