{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="subheaderone" class="clearfix">
      <div class="wrap">

        <h1><img src="{% static 'img/logo.png' %}" alt="CodeZeus"></h1>
        <h2>We are a small development studio, focused on building applications that people don't know they need</h2>
      </div>
    </section><!-- END Subheader-->

    <div id="y">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h3>WELCOME</h3>
            <hr class="aligncenter">
          </div>
          <div class="col-md-12">
            <div class="col-md-4 col-md-offset-2">
              <p>We are a team of developers with a passion for helping people through technology. Founded in 2015, we came together to build applications that make a difference in people's lives. We believe that no problem is too small to solve and we strive to bring solutions that others have not found before.</p>
            </div>
            <div class="col-md-4">
              <p>We primarily work with Python building applications in Flask and Django and have recently started adding React.js and other modern frontend libraries to our toolset. We are <a href="#">available now</a> for projects of all sizes and would love to make your vision a reality for the users you believe in.</p>
            </div>
          </div>
        </div>
      </div><!--/container -->
    </div><!-- /Y -->

    <div class="container ptb">
      <div class="row">
        <!-- Feature Item -->
        <div class="col-md-1 centered">
          <div class="circle-icon-sm">
            <div class="icon-sm ion-ios-browsers-outline mt"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="black">Custom App Development</h4>
          <p>Using Python and Django, we can build anything from ecommerce platforms to dating websites. Between each of us, we have developed applications in all kinds of markets successfully.</p>
        </div>
        <!--/End Feature Item -->
        <!-- Feature Item -->
        <div class="col-md-1 centered">
          <div class="circle-icon-sm">
            <div class="icon-sm ion-ios-analytics-outline mt"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="black">DevOps and Deployment</h4>
          <p>Once the code is written, deployment and server development can be a daunting task. We configure your servers, write deployment scripts, and keep your applications online.</p>
        </div>
        <!--/End Feature Item -->
        <!-- Feature Item -->
        <div class="col-md-1 centered">
          <div class="circle-icon-sm">
            <div class="icon-sm ion-clock mt"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="black">Consulting and Training</h4>
          <p>Having a streamlined development process and projects based on best practices goes a long way in continued success. We can help implement solutions that compliment your team.</p>
        </div>
        <!--/End Feature Item -->
      </div><!--/ROW -->
    </div><!--/container -->

    <div id="y">
      <div class="container ptb">
        <div class="row centered">
          <h3>THE TEAM</h3>
          <hr class="aligncenter mb">
          <div class="col-md-4">
            <div class="circle-icon">
              <img src="{% static 'img/profiles/jesse.jpg' %}" class="img-thumbnail" />
            </div>
            <h4 class="black">Jesse Boyer</h4>
            <p>Developer and Cartoonist</p>
          </div>
          <div class="col-md-4">
            <div class="circle-icon">
              <img src="{% static 'img/profiles/cort.jpg' %}" class="img-thumbnail" />
            </div>
            <h4 class="black">Cort Lyons</h4>
            <p>Developer and Yoga</p>
          </div>
        </div><!--/row centered-->
      </div><!--/container -->
    </div><!--/y -->
{% endblock %}
