# Location: /etc/systemd/system/codezeus.service
[Unit]
Description=Gunicorn Serving CodeZeus
After=network.target

[Service]
User=deploy
Group=www-data
ExecStart=/home/deploy/codezeus.com/bin/gunicorn.sh

[Install]
WantedBy=multi-user.target

# sudo systemctl start codezeus
# sudo systemctl enable codezeus
